<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped"
       role="progressbar" attr.aria-valuenow="{{percentage}}"
       aria-valuemin="0" aria-valuemax="100"
       [ngStyle]="{width:percentage+'%'}">
    {{percentage}}%</div>
</div>

<label class="btn btn-default"> <input type="file"
                                       (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles"
        (click)="upload()">Upload</button>
<img src="gs://airbnb-261ef.appspot.com/uploads/54519123_379878175927105_2647620748394364928_n.jpg">
